*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 40px;
    gap: 100px;
    min-height: 100vh;
}

#calculator {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#display {
    padding: 5px;
    border: 1px solid black;
    text-align: center;
    border-radius: 15px;
}

#buttons-container {
    display: flex;
    flex-direction: column;
    gap: 10px 5px;
    min-width: 25vw;
}

.number-button {
    color: blue;
}

.operation-button {
    color: green;
}

#equals-button,
#clear-button {
    color: purple;
}

